#about-landing-subtext-2{
  width:85%;
  margin-top:30px;
  margin-bottom:10px
}
.home-landing-bandeau.about-adaptation h1 {
  margin: 0 0 30px 0;
}
.home-landing-bandeau.about-adaptation .home-landing-bandeau-text-wrapper p {
  width: 100%;
  margin-bottom: 30px;
}
.home-landing-bandeau.about-adaptation .home-landing-bandeau-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 25%;
  background: linear-gradient(115deg, #cceeff 70%, rgba(0, 0, 0, 0) 70%);
}
.explain-standard-container.background-contain {
  margin: 0;
  padding: 100px 7.5%;
  background-color: #f4f7ff;
}

.logo-texte-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}
.about-ul {
  list-style-image: url(../img/icons8-checked-32.png);
}
.about-ul li {
  font-size: 1.2rem;
      font-family: "Texta";
    font-weight: 400;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .home-landing-bandeau.about-adaptation .home-landing-bandeau-text-wrapper p {
    margin-top: 0;
  }
  .home-landing-bandeau.about-adaptation h1 {
    margin: 30px 0 30px 0;
  }
  .transparent-btn.niveau-adaptation {
    margin: 10px 0;
  }
}
@media (max-width: 767px) {
  .home-landing-bandeau.about-adaptation .home-landing-bandeau-text-wrapper p {
    margin-top: 0;
  }
  .home-landing-bandeau.about-adaptation h1 {
    margin: 30px 0 30px 0;
  }
  .transparent-btn.niveau-adaptation {
    margin: 10px 0;
  }
}
