@import "../library/fonts/fonts.css";
@import "global.css";
@import "home.css";
@import "genere.css";
@import "pilier.css";
@import "pilier-stages.css";
@import "pilier-stages-ville.css";
@import "cours-ligne.css";
@import "about.css";
@import "matiere.css";
@import "agences.css";
@import "agence.css";
@import "devoirs.css";
@import "recrutement.css";
@import "stages-agence.css";
@import "emploies.css";
@import "niveau.css";
@import "footer.css";
@import "header.css";
@import "legales.css";
@import "tarifs.css";
@import "../library/css/swiper-bundle.min.css";

body {
  overflow-x: hidden;
}

/* au dessus de 1600px margin*/
@media (min-width: 768px) and (max-width: 1023px) {
  main {
    overflow-x: hidden;
  }
}
@media (max-width: 767px) {
  main {
    overflow-x: hidden;
  }
}
@media (min-width: 1600px) {
}
